body {
	background-color: white;
	font-family: 'Questrial', Sans-serif;
	box-sizing: border-box;
}

.logo {
	width: 20%;
	height: auto;
	display: block;
	margin-top: -75px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -50px;
}

.subhead {
	text-align: center;
	font-size: 2rem;
	margin-top: -45px;	
}

.intro, .quiz-window, .results, .correct, .incorrect > h1 {
	text-align: center;
	font-size: 1.5rem;
	color: white;
}

.intro, .quiz-window, .results, .correct, .incorrect > h2 {
	color: white;
	text-align: center;
	font-size: 1rem;
	margin-top: 10rem;
}

.intro, .quiz-window, .results, .correct, .incorrect {
	background-color: black;
	color: white;
	border: 20px solid #ffcc99;
	height: 30rem;
	width: 75rem;
	margin: 10px auto;
	border-radius: 50px;
}

label {
	color: black;
	font-size: 1.5rem;
	border: 2px solid #ffcc99;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	width: 15rem;
	height: 1.5rem;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 5px;
	display: block;
}

label:hover {
	background-color: #ffcc99;
	cursor: pointer;
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + span:before {
  font-family: 'FontAwesome';
  padding-right: 20px;
  font-size: 15px;
}

input[type="radio"] + span:before {
  content: "\f096"; /* circle-blank */
}

input[type="radio"]:checked + span:before {
  content: "\f046"; /* circle-checked */
}

#start, #submit, #reset, #next {
	color: black;
	font-size: .7rem;
	border: 2px solid #ffcc99;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	width: 3rem;
	height: 1.5rem;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding: 5px;
	display: block;
}

.submit:hover, #start:hover, #reset:hover, #next:hover {
	background-color: #ffcc99;
}

progress {
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	color: #ffcc99;
	border-radius: 5px;
	background-color: white;
}

progress::-webkit-progress-bar {
    background-color: black;
    border-radius: 5px;
    border: 1px solid #ffcc99;
}
progress::-webkit-progress-value {
    background-color: #ffcc99;
    border-radius: 5px;
    border: 1px solid black;
}
.credit {
	color: black;
	text-align: center;
}
.credit a {
	color: gray;
	text-decoration: none;
	border: .5px solid black;
}