body {
	background-color: white;
	font-family: 'Questrial', Sans-serif;
	box-sizing: border-box;
}

.logo {
	width: 20%;
	height: auto;
	display: block;
	margin: -50px auto;
}

.subhead {
	text-align: center;
	font-size: 2em;
	margin-top: -45px;
	display: block;
	margin: 0 auto;
}

.intro h1, .quiz-window h1, .results h1 {
	text-align: center;
	font-size: 2em;
	color: white;
	display: block;
	margin: 4em auto;
}

.intro h2 {
	margin: -4em 4em;
}

.intro, .quiz-window, .results h2 {
	color: white;
	text-align: center;
	font-size: 1em;
	margin-top: 10em;
}

.intro, .quiz-window, .results {
	background-color: black;
	color: white;
	border: 20px solid #ffcc99;
	height: 25em;
	width: 55em;
	margin: 10px auto;
	border-radius: 50px;
}

label {
	color: black;
	font-size: 1.5em;
	border: 2px solid #ffcc99;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	width: 10em;
	height: 1.25em;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 27px;
	display: block;
	padding-top: 0.25em;
}

label:hover {
	background-color: #ffcc99;
	cursor: pointer;
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + span:before {
  font-family: 'FontAwesome';
  padding-right: 20px;
  font-size: 15px;
}

input[type="radio"] + span:before {
  content: "\f096"; /* circle-blank */
}

input[type="radio"]:checked + span:before {
  content: "\f046"; /* circle-checked */
}

#start, #submit, #reset {
	color: black;
	font-size: .7em;
	border: 2px solid #ffcc99;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	height: 2em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding: 5px;
	display: block;
}

#start {
	margin-top: 10em;
}

#submit, #reset {
	margin-top: 0;
}

#reset {
	width: 6em;
}

#start, #submit {
	width: 5em;
}

.submit:hover, #start:hover, #reset:hover {
	background-color: #ffcc99;
}

progress {
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	color: #ffcc99;
	border-radius: 5px;
	background-color: white;
}

progress::-webkit-progress-bar {
    background-color: black;
    border-radius: 5px;
    border: 1px solid #ffcc99;
}
progress::-webkit-progress-value {
    background-color: #ffcc99;
    border-radius: 5px;
    border: 1px solid black;
}
.credit {
	color: black;
	text-align: center;
}
.credit a {
	color: gray;
	text-decoration: none;
	border: .5px solid black;
}